* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
  letter-spacing: 0.15rem;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(3px);
  }
}

.projectItem {
  scroll-snap-align: start;
}

.screenShotsBodyContainer {
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgb(228, 227, 227);
  outline: none !important;
  outline-offset: none !important;
  border-radius: 5px;
  background-image: linear-gradient(
    180deg,
    #fff 25%,
    #eeeeee 20%,
    #eeeeee 75%,
    #fff 40%,
    #fff 100%,
    #eeeeee 70%,
    #eeeeee 100%
  );
  background-size: cover;
}

.btnModalClose {
  width: 100%;
}

.aboutBodyContainer {
  height: 90vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  outline: none !important;
  outline-offset: none !important;
  border-radius: 5px;
}

@media (max-width: 580px) {
  .aboutBodyContainer {
    width: 90vw;
  }

  .screenShotsBodyContainer {
    width: 95vw;
  }
}
/*
@media (max-width: 800px) {
  .aboutBodyContainer {
    width: 90vw;
    height: 90vh;
  }
}
*/
